.div.col-span-1.w-full.list {
    overflow-y: auto;
    max-height: 500px;  // Or whatever height you prefer
}
.render-links--link a{
	font-size:14px;
}
.panel-macro--warning {
    --color-background: var(--K15t-background-danger);
}
.panel-macro {
    --_background-color: var(--color-background);
    background-color: var(--_background-color);
    border-radius: var(--K15t-radius-small);
    border-style: none;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
    max-width: 100%;
    padding: 1rem 2rem 1rem 1rem;
}

/* Overrides for full width content */ 
/*.vp-container {
    margin-left: 0;
    margin-right: 0;
    max-width:0; 
}*/

:root{
--K15t-layout-container-width: calc(800 + var(--vp-layout-container-width));
}

.vp-article .article-header{
margin: 0; }

.vp-article .vp-breadcrumbs {
 margin: 0;
}
.vp-article :where(.vp-article__content,.contentLayout2,.columnLayout.fixed-width .innerCell){
  display:block !important;
} 


/* it5kb legacy notics */ 
.confluence-information-macro:first-child {
    margin-top: 0;
}

.confluence-information-macro-warning {
    background: #fff8f7;
    border-color: #d04437;
}

.confluence-information-macro {
    background: #fff8f7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 1em 0;
    min-height: 20px;
    position: relative;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-error {
    color: #cf4336;
}

.confluence-information-macro .confluence-information-macro-icon {
    display: block;
    left: 10px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    vertical-align: text-bottom;
}

.aui-icon {
    text-decoration: none;
}

.aui-iconfont-error {
    --aui-ig: "\f15a";
}

.aui-icon-small {
    --aui-icon-size: 16px;
}

.aui-icon {
    --aui-icon-size: 16px;
    --aui-icon-font: "Adgs Icons";
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    display: inline-flex;
    font-size: 0;
    height: var(--aui-icon-size);
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: text-bottom;
    width: var(--aui-icon-size);
}